.container {
  width: 100%;
  height: 100vh;
  color: white;
  position: relative;
  background-color: black;
}
.section {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.section__logo {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 57px;
}
.section__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  margin-top: 60px;
}
.form {
  position: absolute;
  z-index: 10;
  background-color: black;
  width: 100%;
  height: 100vh;
}
.none {
  display: none;
}
.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.button1,
.button2 {
  background: white;
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.01em;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  width: 300px;
  height: 50px;
}
.button1:hover,
.button2:hover {
  background-color: #14ae5c;
}

@media (min-width: 768px) {
  .form {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
  }
  .button1,
  .button2 {
    background: none;
    color: white;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.01em;
    height: auto;
    cursor: pointer;
  }
  .section__button {
    margin-top: 75px;
  }
  .button1:hover,
  .button2:hover {
    background-color: white;
    color: #14ae5c;
  }
}
